LogPart/Service References/ServiceReferenceAutomata/Classification2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3659/Classification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LSRService" />
  <xs:import schemaLocation="http://localhost:3659/Classification.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LSRService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LSRService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClusterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClusterListResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCluster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClusterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClusterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscoverSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LSRService" minOccurs="0" name="UserInnerData" nillable="true" type="q4:InnerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscoverSchemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DiscoverSchemaResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LSRService" minOccurs="0" name="UserInnerData" nillable="true" type="q5:InnerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrainSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cluster" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrainSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrainSystemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TextLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransformResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>