LogPart/Service References/ServiceReference1/Classification1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LSRService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LSRService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="InnerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FrequencyHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrequencySummary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranslationSummary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InnerData" nillable="true" type="tns:InnerData" />
</xs:schema>